.App {
  text-align: center;
}

body {
  background-color: black;
}

.text-color{
  color: white;
}

.marginCard{
  margin-bottom: 60px !important;
}

.marginButtonPrice {
  margin-top: 20px !important;
}

.pokeshop-pagination.ui.pagination.secondary.pointing.menu{
  background-color:white;
}