.App {
  text-align: center;
}

body {
  background-color: black;
}

.text-color{
  color: white;
}

.margin{
  margin-bottom: 60px !important;
}

.ui.secondary.pointing.menu{
  background-color:white !important;
}